<configuration>
  <system.webServer>
    <handlers>
      <!-- according to https://pypi.org/project/wfastcgi/ to set wfastcgi -->
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python37\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python37\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="main.app" />

    <!-- Optional settings -->
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
</configuration>